@model IEnumerable<LNRS.Models.Presence>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista närvaro</h1>

<p>
    <a asp-action="Create">
        <input type="submit" value="Logga in" class="btn btn-primary btn-sm" />
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th class="fast_bredd">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="fast_bredd">
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th class="fast_bredd">
                @Html.DisplayNameFor(model => model.CauseStart)
            </th>
            <th class="fast_bredd">
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th class="fast_bredd">
                @Html.DisplayNameFor(model => model.CauseEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CauseStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CauseEnd)
            </td>
            <td>
                
                <a asp-action="Edit" asp-route-id="@item.Id">
                    <input type="submit" value="Logga ut" class="btn btn-primary btn-sm" />
                </a>
                <a asp-action="Details" asp-route-id="@item.Id">
                    <input type="submit" value="Detaljer" class="btn btn-primary btn-sm" />    
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id">
                    <input type="submit" value="Radera" class="btn btn-primary btn-sm" />
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
